.navmodal {
  width: 100%;
  height: 420px;
  margin: 0 auto;
  position: fixed;
  background-color: $site-red;
  padding-top: 20px;
  //   align-items: center;

  .exit {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    // background-color: darkcyan;
    background-image: url(../images/exit.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .row {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: $site-red;
    // margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      font-family: caveatR;
      font-size: 25px;
      text-decoration: none;
      color: black;
      // border-bottom: black 3px solid;
    }
  }
  .row:hover {
    background-color: #db5049;
  }
  .rowC {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: $site-yellow;
    // margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      font-family: caveatR;
      font-size: 25px;
      text-decoration: none;
      color: black;
      // border-bottom: black 3px solid;
    }
  }
  .rowC:hover {
    background-color: #e9c563;
  }
  //   position: relative;
}
